.App {
  padding: 20px;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 20px;
}
.layout div {
  text-align: center;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.rate-container {
  border-top: 2px solid white;
  max-width: 200px;
  margin: auto;
  margin-top: 25px;
}


